<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Profile</title>
  </head>
  <body style="margin: 0; padding: 0; box-sizing: border-box">
    <div
      style="height: auto; width: auto; display: flex; flex-direction: column"
    >
      <h1>We're Sorry to See You Go,</h1>
      <p>
        Your account has been successfully deleted from the ToDo Management
        System. We're sad to see you leave, but we understand that sometimes
        priorities change.
      </p>
      <p>
        If you have any feedback or if there was something we could have done
        better, please let us know. Your input helps us improve our service.
      </p>
      <p>Thank you for being a part of our community.</p>
      <p>
        Best wishes,
        <br />The ToDo Management System Team
      </p>
    </div>
  </body>
</html>
