<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
</head>
<body style="margin: 0; padding: 0; box-sizing: border-box">
    <div style="height: auto; width: auto; display: flex; flex-direction: column">
        <h1>Hi {{Name}},</h1>
        <p>
            Forgot your password? <br />
            We received a request to reset the password for your account
        </p>
        <p>
            To reset your password, click on the button below:
        </p>
        <a href={{Link}} style="padding: 20px; margin: 10px; text-align: center; color: white; text-decoration:none; background-color: slategray; border-radius: 10px; width: fit-content;">
            Reset password
        </a>
        <p>
            Or copy and paste the URL into your browser:
        </p>
        <a href="{{Link}}">
            {{Link}}
        </a>
        <hr />
        <p>
            The ToDo Management System Team
        </p>
    </div>
</body>
</html>