<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body style="margin: 0; padding: 0; box-sizing: border-box">
    <div
      style="height: auto; width: auto; display: flex; flex-direction: column"
    >
      <h1>Welcome to the ToDo Management System,</h1>
      <p>
        We are happy to have you on board. Within the system, you can create,
        update, delete and see all of your future plans and goals that you are
        ready to successfully accomplish.
      </p>
      <p>
        Don't hesitate to get in touch if you have any questions. We will always
        get back to you. :)
      </p>
      <hr />
      <p>The ToDo Management System Team</p>
    </div>
  </body>
</html>
